.summaryWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .summaryWrapper {
    justify-content: space-between;
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 90%;
  }
}

.imageWrapper {
  width: 100%;
  height: auto;
  min-height: 300px;
  position: relative;
}

.imageWrapper img {
  object-fit: scale-down;
}

.button {
  width: 100%;
  padding: 1rem;
  background: #1f1918;
  color: #f5f5ef;
  text-align: center;
  font-family: inherit;
  border: 1px #1f1918;
  border-style: solid dotted solid dotted;
  overflow: hidden;
}

.button:hover {
  color: #55462b;
  background: #f5f5ef;
}

.button::after {
  border-bottom: none;
}

.button span {
  margin-top: 5px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formBlock:first-of-type {
  flex-direction: row;
}

.formBlock:first-of-type div {
  width: 100%;
}

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input,
.form textarea,
.form select {
  padding-left: 0.2rem;
  border: 1px #302819;
  border-style: solid;
  overflow: hidden;
}

.form input,
.form select {
  height: 2rem;
}

.form textarea {
  min-height: 5rem;
  border: 1px #302819;
  overflow: hidden;
  border-style: solid;
}

.nameInputs {
  display: flex;
  gap: 1rem;
}

.nameInputs input {
  width: 50%;
}
