.wrapper {
  display: block;
  width: fit-content;
  margin: auto;
  color: #1f1918;
  background: #f4eddb;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: 0.3s;
  padding: 16px 25px;
  border-radius: 5%;
  cursor: pointer;
}

.wrapper:hover {
  background: #302819;
  color: #f4eddb;
}
