.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #1f1918;
  background-color: rgba(241, 236, 227, 0.5);
  background-image: url('/assets/001-wrinkled-wall.png');
  background-size: repeat;
  background-position: center;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  box-sizing: border-box;
}

.hidden {
  transform: translateY(-90%);
}

.container {
  display: flex;
  width: 100%;
  height: 80px;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 100%;
  height: 2px;
  background-image: url('/assets/navbar-line.svg');
}

.logo {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: auto;
  padding-left: 59px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 20px;
  box-sizing: border-box;
  height: 35px;
}

.hamburger img {
  width: 30px;
  height: 35px;
}

.menu {
  position: fixed;
  top: 0;
  right: -550px;
  width: 315px;
  height: 100vh;
  background-color: rgba(187, 174, 164, 0.7);
  background-image: url('/assets/3.png');
  background-size: repeat;
  background-position: center;
  background-blend-mode: multiply;
  transition: right 0.3s ease-in-out;
  z-index: 999;
  padding: 20px 30px 0 30px;
}

.menu.open {
  right: 0;
  box-sizing: border-box;
}

.menu ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 500;
}

.menu ul li {
  padding: 15px 0;
  margin-bottom: 37px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  cursor: pointer;
}

/* .no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
  width: 100vw !important;
  position: fixed !important;
  top: 0;
  left: 0;
  touch-action: none !important;
  overscroll-behavior: none !important;
} */

.menuItem {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: fit-content;
}

.menuItem a {
  padding: 8px 16px;
  border: none;
  background: none;
  outline: none;
}

.menuItem svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.menuItem path {
  stroke: #56482d;
  stroke-width: 2px;
  stroke-dasharray: 0 1500;
}

.menuItem:hover path {
  animation: draw 1s forwards;
}

@keyframes draw {
  from {
    stroke-dasharray: 0 1500;
  }

  to {
    stroke-dasharray: 1500 1500;
  }
}

.closeMenu {
  background: none;
  border: none;
  margin-left: 225px;
}

@media (min-width: 1440px) {
  .logo {
    font-size: 2.5rem;
  }
}
