html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f5ef;
  /* background-image: url('/assets/001-wrinkled-wall.png'); */
  background-size: repeat;
  background-repeat: repeat;
  background-blend-mode: multiply;
  letter-spacing: 0.11rem;
  margin: 0;
  color: #1f1918;
}
.margin {
  margin: 0 2% 0 2%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
  letter-spacing: 0.2rem;
  padding-top: 0;
  margin-top: 0;
  /* text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px; */
  /* text-decoration-color: rgba(0, 0, 0, 0.384);*/
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
}

input,
label {
  cursor: pointer;
}

label {
  display: block;
}

body,
p,
span,
a {
  font-family: var(--font-body) !important;
}

p {
  line-height: 1.4rem;
}

h3 {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

button {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 4% 1fr 4%;
  grid-auto-rows: auto;
  width: 100%;
  max-width: 1440px;
  row-gap: 3rem;
  margin: 70px auto auto auto;
}

section {
  max-width: 1440px;
}

section:first-of-type {
  max-width: 100vw;
}

main > * {
  grid-column: 2;
}

.ingress {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.fullRow {
  grid-column: 1 / -1;
}

/* categories */

.Oljemaleri,
.Akvarell,
.Teckning,
.Keramik,
.Workshop {
  background-image: url("/assets/001-wrinkled-wall.png");
  background-size: repeat;
  background-repeat: repeat;
  background-blend-mode: multiply;
}

.Oljemaleri,
.Akvarell,
.Teckning {
  background-color: rgba(163, 177, 138, 0.5) !important;
}

.Keramik {
  background-color: rgba(225, 169, 85, 0.5) !important;
}

.Workshop {
  background-color: rgba(184, 80, 66, 0.5) !important;
}

.bgImageWrapper {
  position: absolute;
  width: 100%;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.bgImageWrapper:has(+ .swiper) {
  top: 950px;
}

.bgImage {
  max-width: 500px;
  height: auto;
  opacity: 0.2;
  mix-blend-mode: multiply;
  pointer-events: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  line-height: 1.9rem;
}

button {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  min-width: fit-content;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 110px;
  }
  .bgImageWrapper {
    flex-direction: row;
  }
}

.ice {
  color: #f5f5ef;
}
