html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f5ef;
  /* background-image: url('/assets/001-wrinkled-wall.png'); */
  background-size: repeat;
  background-repeat: repeat;
  background-blend-mode: multiply;
  letter-spacing: 0.11rem;
  margin: 0;
  color: #1f1918;
  scroll-behavior: smooth;
}
.margin {
  margin: 0 2% 0 2%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
  letter-spacing: 0.2rem;
  padding-top: 0;
  margin-top: 0;
  /* text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px; */
  /* text-decoration-color: rgba(0, 0, 0, 0.384);*/
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
}

input,
label {
  cursor: pointer;
}

label {
  display: block;
}

body,
p,
span,
a {
  font-family: var(--font-body) !important;
}

p {
  line-height: 1.4rem;
}

h3 {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

button {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 4% 1fr 4%;
  grid-auto-rows: auto;
  width: 100%;
  max-width: 1440px;
  row-gap: 3rem;
  margin: 70px auto auto auto;
}

section {
  max-width: 1440px;
}

section:first-of-type {
  max-width: 100vw;
}

main > * {
  grid-column: 2;
}

.ingress {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.fullRow {
  grid-column: 1 / -1;
}
p a {
  text-decoration: underline;
  font-weight: 600;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  line-height: 1.9rem;
}

button {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  min-width: fit-content;
}

.ice {
  color: #f5f5ef;
}
