:root {
  --black: #1f1918;
  --secondary-color: #f5f5ef;
  --accent-color: #d09c96;
  --background-color: #f5f5ef;
}

body {
  --font-heading: var(--font-manrope);
  --font-body: var(--font-kumbh-sans);
}
