.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 1rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 3rem;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  z-index: 50;
  color: #fbf8ef;
  text-shadow:
    -1px -1px 0 #55462b,
    1px -1px 0 #55462b,
    -1px 1px 0 #55462b,
    1px 1px 0 #55462b;
}

.wrapper h1,
.wrapper h4 {
  padding: 0;
  margin: 0;
}

.wrapper h1 {
  font-size: 1.5rem;
  word-wrap: break-word;
  max-width: 95vw;
}

.wrapper h4 {
  padding-bottom: 0.5rem;
}

.sessionLength {
  font-style: italic;
}
.overview {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 1rem;
  width: fit-content;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-image: url(/assets/border.svg) 30/19px round;
  width: 75%;
  background-color: #ececec62;
  z-index: 10;
}

.imageWrapper {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  height: 50vw;
  max-height: 300px;
  width: 110vw;
  left: 40%;
  transform: translateX(-50%);
}

.imageWrapper img {
  object-fit: cover;
  overflow: hidden;
}

.description {
  grid-area: 3 / 1 / 4 / 2;
  word-wrap: break-word;
  max-width: 87%;
}

.time {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.form {
  width: 80%;
  grid-area: 4 / 1 / 5 / 2;
}

.button {
  border: none;
  background: #1f1918;
  padding: 4px 8px;
  font-family: inherit;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #fbf8ef;
  border: 1px #1f1918;
  border-style: solid;
}

.button:hover {
  color: #302819;
  background: #fbf8ef93;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    align-items: start;
  }

  .header {
    grid-area: 1 / 1 / 2 / 2;
    text-shadow: none;
    color: #55462b;
  }
  .imageWrapper {
    grid-area: 1 / 2 / 4 / 3;
    max-height: 600px;
    width: 600px;
    left: initial;
    transform: initial;
    margin-bottom: 1rem;
    border-width: 1px;
    border-style: solid;
    border-image: url(/assets/border.svg) 30/19px round;
  }

  .overview {
    grid-area: 2 / 1 / 3 / 2;
    width: 70%;
  }

  .description {
    width: auto;
    grid-area: 3 / 1 / 7 / 2;
  }
  .form {
    grid-area: 4 / 2 / 6 / 3;
  }

  .wrapper h4 {
    padding: 0;
  }
  .wrapper h1 {
    font-size: 2rem;
  }
}
