.wrapper {
  margin: 0 auto 1rem auto;
  max-width: 390px;
  padding: 2%;
}

.wrapper h2 {
  color: #4b473e;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: normal;
  margin: 0.5rem 0 0.3rem 0;
  text-align: center;
}

.wrapper small {
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.imgWrapper {
  position: relative;
  height: 300px;
}

.imgWrapper img {
  object-fit: cover;
}

.imgWrapper {
  height: 200px;
  position: relative;
}

.surname {
  line-height: 5rem;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.textright,
.textleft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.imageWrapper img {
  object-fit: cover;
}

.socials div {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    max-width: 900px;
    height: 90vh;
    max-height: 600px;
    margin: auto auto 1rem auto;
    padding: 1rem !important;
  }

  .titleright {
    grid-area: 1 / 1 / 2 / 3;
  }

  .titleleft {
    grid-area: 1 / 2 / 2 / 4;
  }

  .textright {
    grid-area: 1 / 3 / 3 / 4;
    padding: 3%;
  }

  .textleft {
    grid-area: 1 / 1 / 3 / 2;
  }

  .right {
    grid-area: 2 / 1 / 3 / 3;
  }

  .left {
    grid-area: 2 / 2 / 3 / 4;
  }

  .left,
  .right {
    gap: 0;
  }

  .imgWrapper,
  .imageWrapper {
    height: 100%;
  }

  .socials {
    margin: 0;
  }
  .imgWrapper {
    justify-items: end;
  }
}
