.wrapper {
  color: #f1e8de;
  background-color: #1f1918;
  text-align: center;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.wrapper a {
  color: #d09c96;
}
.wrapper a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #f1e8de;
}

.contactDetails {
  margin: 0 5%;
}

.flex-container > * {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.contactWrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
}
.socialsHeader {
  width: 100%;
}

.socials h3 {
  margin-bottom: 0.3rem;
}

.socials a {
  font-size: 1.5rem;
}

.wrapper a svg {
  width: 30px;
  height: 30px;
}

.socials a:hover {
  text-decoration: underline;
  color: #f1e8de;
}

@media screen and (min-width: 768px) {
  .wrapper {
    justify-items: center;
    min-height: 300px;
    bottom: 0;
    margin-bottom: 0px;
  }
}
